 .event-cards {  
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 35vh;
  padding-right: 35vh;
}

.event-card {
  width: 400px;
  height: 650px;
  margin: 0 auto;
  margin-top: 5vh;  
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow:  3px 3px  rgba(0, 0, 0, 0.3);
}

.title{
  width: 100%;
  height: 10%;
  margin-left: 5px;
  display: flex;
  justify-content: left;
  
}

.event-card img {
  margin-top: 35px;
  width: 100%;
  height: 400px;    
  object-fit: fill;
}

.info {
  padding-bottom: 5px;
  height: 30%;  
  line-height: 75%;
  margin-left: 20px;
  margin-top: 20px;
}

.info .addboxicon {
  left: 85%;
  bottom: 28%;  
}




